{%load static%}

<!DOCTYPE html>
<html>
<head>
    <title>Love Name Input Page</title>
    <link rel="stylesheet" href="{% static 'homeStyle.css' %}">
    
</head>
<body onload="display()">
    <div class="container">
        <h1>Share Your Love</h1>
        <form>
            <label for="name1">Your Name:</label><br>
            <input type="text" id="name1" name="name1" required><br><br>
            
            <label for="name2">Partner's Name:</label><br>
            <input type="text" id="name2" name="name2" required><br><br>
            
            <button type="button" onclick="displayNames()">Find</button>
        </form>
        
        <div id="result">
            <h2>Your Love Story:</h2>
            <p id="name1Display"></p>
            <p id="name2Display"></p>
            <p id="uncommonLettersDisplay"></p>
        </div>
    </div>
    
    <script src="{%static 'homeJs.js' %}"></script>
    
</body>
</html>
